@import "tailwindcss";

:root {
  --background: hsl(60, 100%, 84%);
  --foreground: hsl(222 22% 10%);

  --primary: hsl(217 90% 36%);
  --primary-foreground: hsl(0 0% 100%);

  --muted: hsl(210 30% 98%);
  --muted-foreground: hsl(215 15% 45%);

  --card: hsl(0, 100%, 97%);
  --card-foreground: hsl(223 11% 25%);

  --border: hsl(215 20% 90%);
  --input: hsl(210 24% 96%);
  --ring: hsl(174 64% 36%);

  --destructive: hsl(348 87% 55%);
  --destructive-foreground: hsl(0 0% 100%);

  --success: hsl(142 71% 45%);
  --success-bg: hsl(142 71% 95%);
  --success-foreground: hsl(142 71% 30%);

  --radius: 0.5rem;
}

.dark {
  --background: hsl(222 22% 6%);
  --foreground: hsl(210 15% 96%);

  --primary: hsl(197 92% 52%);

  --primary-foreground: hsl(223 23% 6%);

  --muted: hsl(222 18% 14%);
  --muted-foreground: hsl(215 14% 65%);

  --card: hsl(223 40% 10%);
  --card-foreground: hsl(200, 2%, 70%);

  --border: hsl(220 18% 18%);
  --input: hsl(220 18% 20%);
  --ring: hsl(300 80% 55%);

  --destructive: hsl(348 90% 55%);
  --destructive-foreground: hsl(0 0% 100%);

  --success: hsl(142 65% 55%);
  --success-bg: hsl(142 30% 18%);
  --success-foreground: hsl(142 70% 80%);

  --radius: 0.5rem;
}


@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--muted);
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--muted);
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,
        var(--primary),
        var(--accent));
    border-radius: 9999px;
    border: 2px solid var(--muted);
    transition: background 0.2s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg,
        var(--primary),
        var(--accent));
    box-shadow: 0 0 8px var(--primary);
  }

  ::-webkit-scrollbar-corner {
    background: var(--muted);
  }
}