@import "tailwindcss";

:root {
  /* Core */
  --background: hsl(60, 73%, 93%);
  --foreground: hsl(222 22% 10%);

  /* Brand */
  --primary: hsl(222 47% 35%);
  --primary-foreground: hsl(0 0% 100%);

  /* Neutral UI */
  --muted: hsl(220 14% 96%);
  --muted-foreground: hsl(220 10% 45%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222 22% 10%);

  --border: hsl(220 13% 90%);
  --input: hsl(220 13% 88%);
  --ring: hsl(222 47% 35%);

  /* Semantic */
  --destructive: hsl(0 72% 55%);
  --destructive-foreground: hsl(0 0% 100%);

  --radius: 0.5rem;
}

.dark {
  --background: hsl(222 22% 6%);
  --foreground: hsl(220 15% 96%);

  --primary: hsl(222 60% 60%);
  --primary-foreground: hsl(223, 23%, 6%);

  --muted: hsl(222 18% 14%);
  --muted-foreground: hsl(220 12% 65%);

  --card: hsl(222 22% 10%);
  --card-foreground: hsl(220 15% 96%);

  --border: hsl(222 18% 18%);
  --input: hsl(222 18% 20%);
  --ring: hsl(222, 87%, 44%);

  --destructive: hsl(0 62% 50%);
  --destructive-foreground: hsl(0 0% 100%);
}

@layer base {

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--muted);
  }

  /* WebKit (Chrome, Edge, Safari) */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--muted);
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,
        var(--primary),
        var(--accent));
    border-radius: 9999px;
    border: 2px solid var(--muted);
    transition: background 0.2s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg,
        var(--primary),
        var(--accent));
    box-shadow: 0 0 8px var(--primary);
  }

  ::-webkit-scrollbar-corner {
    background: var(--muted);
  }
}